{% extends 'base.html.twig' %}

{% block title %}API credentials{% endblock %}

{% block body %}
    {{ form_start(form) }}
    {{ form_rest(form) }}
    <button>Create</button>
    {{ form_end(form) }}

{% endblock %}
